<h1><%= @enterprise.name %></h1>
<% @enterprise.users.each do |recruiter| %>
  <% Offer.where(recruiter_id: recruiter.id).each do |offer| %>
    <p><a href="/enterprise/<%=offer.id%>"><%= offer.title %></a></p>
  <% end %>
<% end %>

<%= form_tag "/enterprise", method: "post" do %>
  <input type="text" name="title" />
  <input type="submit" value="Create offer" />
<% end %>
