<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#skillsSelect').multiselect({
            includeSelectAllOption: true,
            maxHeight: "400",
        });
    });
</script>

<%= render 'home/navbar' %>

<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><b><u>Create a new offer</u></b></h1>

<div class="col-lg-3">
  <label>Choose a title</label>
  <input id="title" class="form-control" type="text" placeholder="Title">
  <br />
  <label>Fill the description</label>
  <input id="description" class="form-control" type="text" placeholder="Description">
  <br />
  <label>Required skills</label>
  <select id="skillsSelect" class="selectpicker show-menu-arrow form-control" multiple>
    <% @skills.each do |elt|%>
      <option><%= elt.name %></option>
    <% end %>
  </select>
  <br />
  <div style="text-align: center; margin-top: 15px;">
    <input  id="submitBtn" type="button" class="btn btn-success" value="Create Offer">
  </div>
</div>

<style>
  .dropdown-menu {
    min-width: 200px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#submitBtn').click(function(evt) {
      var $self = $(this);
      var brands = $('#skillsSelect option:selected');
      var selected = [];
      $(brands).each(function(index, brand){
          selected.push($(this).val());
      });
      $.post('/enterprise', {
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
        skills: selected
      },function(response) {
        window.location.href="/enterprise";
      });
    });
  });
</script>
