<h1><%= @offer.title %></h1>
<p>description: <%= @offer.description %></p>
<p>keywords: <%= @offer.keywords %></p>


<%= form_tag "/offers/#{@offer.id}", method:"patch" do %>
  <p><input type="submit" value="Postuler" /></p>
<% end %>



<p> <a href="/enterprise"> Retourner à la liste des offres </a></p>
