<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @offer.text %>
</p>
<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offersalexr_path %>
